<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="filePath" value="C:\Projects\TournamentTracker"/>
		<add key="winnerDetermination" value="greater"/>

	</appSettings>
	<connectionStrings>
		<add name ="Tournaments" connectionString="Server=OFFICE;Database=Tournaments;Trusted_Connection=True;" providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>